.container {
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-rows: auto auto;
    grid-template-areas: "main trash" "deadline ." ;
    margin-top: 0.5em;
    font-size: 0.9em;
    border-radius: 5px;
    padding: 5px;
}

.container:nth-of-type(even) {
    background-color: var(--grey-greeny);
}

@media (prefers-color-scheme: dark) {
    .container {
        background-color: var(--dark-green);
    }
}

.main {
    grid-area: main;
}

.title {
    margin-left: 0.25em;
}

.trash {
    grid-area: trash;
}

.img {
    height: 1lh;
    vertical-align: text-bottom;
}

.deadline {
    grid-area: deadline;
    text-align: right;
    font-size: 0.66em;
    font-weight: bold;
    font-variant: traditional;
}
.deadline.stale {
    color: salmon;
}