.line {
    margin-top: 0.5em;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px;
}

.line:nth-of-type(even) {
    background-color: var(--grey-greeny);
}

@media (prefers-color-scheme: dark) {
    .line {
        background-color: var(--dark-green);
    }
}

.title {
    margin-left: 0.25em;
}

.img {
    height: 1lh;
    vertical-align: text-bottom;
}