.button {
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    transition: background 0.2s ease, border-color 0.2s ease;
}

.primary {
    background: var(--dark-green);
    color: white;
    border-radius: 6px;
}

.primary:focus {
    outline: 2px solid #333;
    background: var(--sea-greeny);
}
.primary:hover {
    background: var(--sea-greeny);
}

.danger {
    background: var(--pinky);
    color: var(--dark-grey);
}
.danger:hover {
    background: var(--pinky-hover);
    color: white;
    filter: none;
}

.outline {
    background: transparent;
    color: var(--dark-grey);
}
.outline:hover {
    background: var(--dark-green);
    color: white;
}

.button:disabled {
    background-color: #ccc;        /* gray background */
    color: #666;                   /* faded text */
    cursor: not-allowed;           /* shows "forbidden" cursor */
    opacity: 0.7;                  /* slightly transparent */
    border: 1px solid #aaa;        /* softer border */
    box-shadow: none;              /* remove active shadows */
}
