.App {
  text-align: center;
}

.App-content {
  user-select: none;
  background-color: var(--pinky);
  color: var(--dark-grey);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@media (prefers-color-scheme: dark) {
  .App-content {
    background-color: #282c34;
    color: white;
  }
}