:root {
    --pinky: #fbe3e8;
    --pinky-hover: #dbc3c8;
    --blue-greeny: #5cbdb9;
    --sea-greeny: #68b7b4;
    --teeny-greeny: #ebf6f5;
    --grey-greeny: #f6faf9;
    --dark-green: #487e78;
    --dark-grey: #343737;
;
}

li {
    list-style-type: none;
    text-align: left;
}

input[type="checkbox"], button {
    cursor: pointer;
}

h1 {
    color: var(--dark-green);
    font-weight: 600;
    font-family: Serif;
}