@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --primary: #2d6670;
    --primary-light: #a9e0d3;
    --primary-dark: #184c45;
    --green-600: #20695f;
    --green-100: #eaf3f0;   /* light background for hover on non-active */
    --green-dark: #145b52;
    --background: #f4f8fc;
    --surface: #ffffff;
    --border: #e5e7eb;
    --border-dark: #d1d5db;
    --text: #2c3e50;
    --text-secondary: #6b7b7b;
    --muted: #6b7280;
    --disabled: #f4f7f7;
    --disabled-bg: #b7c9c6;
    --radius: 12px;
    --radius-small: 5px;
    --shadow: 0 4px 10px rgba(24, 76, 69, 0.25);
    --danger: #ee444d;
    --warning: #d9822b;
    --warning-light: #e6a23c;
    --correct: #169eb9;
    --correct-light: #9fcbd1;  /* light teal */
    --success: #1b7d59;

    /** rare colors for component details **/
    /** button **/
    --primary-shadow: #169eB999;
    --shadow-off: #169EB900;

    /**  checkbox **/
    --border-hover: #9ca3af;
}

li {
    list-style-type: none;
    text-align: left;
}

* {
    box-sizing: border-box;
}

input[type="checkbox"], button {
    cursor: pointer;
}

