.card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem 0;
    user-select: none;
}

.card.column {
    width: 90vw;
}

@media (min-width: 480px) {
    .card.column {
        width: 50vw;
    }
}
