.list {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
}

.empty {
    margin-top: 1rem;
    text-align: center;
}