img {
    height: 1lh;
    vertical-align: text-bottom;
}
.plus-icon {
    transition: transform 0.4s ease;
}
.plus-icon:hover {
    transform: rotate(180deg);
}

.add-button {
    vertical-align: middle;
    margin-left: 0.5em;
    border-radius: 5px;
    border: 0;
    padding: 2px 5px;
}