.container {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    font-size: 1rem;
}

.container.top {
    align-items: start;
}

.container:not(.top) {
    align-items: center;
}

.container + .container {
    margin-top: 1rem;
}