.container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: left;
    cursor: pointer;

    --disabled: #d7d8dc;
    --text-disabled: #576274;
}

.checkbox {
    display: none;
}

.label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 20px;
    margin: 0;
}

.inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.inner:before {
    content: "Yes";
    text-transform: uppercase;
    padding-left: 10px;
    background: var(--primary);
    color: #fff;
}

.inner:before, .inner:after {
    display: block;
    float: left;
    width: 50%;
    line-height: 34px;
    font-size: 0.5em;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}

.disabled {
    background-color: var(--disabled);
    cursor: not-allowed;
}

.inner:after {
    content: "No";
    text-transform: uppercase;
    padding-right: 10px;
    background-color: var(--disabled);
    color: var(--text-disabled);
    text-align: right;
}

.switch {
    display: block;
    width: 24px;
    margin: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: calc(100% - 34px);
    border: 0 solid var(--disabled);
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
    font-size: 0.5em;
}

.checkbox:checked + .label .inner {
    margin-left: 0;
}

.checkbox:checked + .label .switch {
    right: 0;
}

.inner:before {
    content: attr(data-yes);
}
.inner:after {
    content: attr(data-no);
}