li {
    list-style-type: none;
    text-align: left;
}

input[type="checkbox"], button {
    cursor: pointer;
}

input[type="checkbox"] + span {
    margin-left: 0.25em;
}

.remove-button {
    margin-left: 0.5em;
    background: none;
    border: none;
}