.container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 1em 0 0;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid green;
    padding: 0.5em 1em;
}

@media (min-width: 480px) {
    .container {
        justify-content: start;

    }
}

.button {
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 0.9rem;
    margin: 0;
}

.button ~ .button {
    margin-left: 0.5rem;
}