
/*@media (min-width: 480px) {*/
/*    .container {*/
/*        justify-content: start;*/

/*    }*/
/*}*/

.container {
    display: flex;
    width: 100%;
    border: 1px solid var(--border);
    border-radius: var(--radius-small);
    overflow: hidden;               /* this makes the whole group rounded */
    background: white;
}